<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h2 class="h2-fontsize">PhysiKon 2022</h2>
      <img style="size: 100%" src="/documents/2022_Physikon_Katalog_online_Titel.png" alt="">
      <p style="margin-bottom: 20px;"></p>
    </div>
    <div class="row">
      {% for unternehmen in site.data.archiv.unternehmen_2022 %}
      <div class="col-xl-3 col-md-4 col-4 grid-col">
        <a href="{{ unternehmen.url }}">{{ unternehmen.name }}</a>
        <p style="margin-bottom: 20px;"></p>
      </div>
      {% endfor %}
    </div>

  </div>
</div>

<hr class="star-dark">
