name: Build and Verify
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true

      - name: build
        run: bundle exec jekyll build --trace

      - name: check output
        run: |
          bundle exec htmlproofer ./_site \
            --allow-hash-href \
            --check-html \
            --only-4xx \
            --disable-external \
            --empty-alt-ignore
